---
component: header-search
hide: true
published: false
---

<section class="global-search global-search-header" id="search" role="search">
	<header>
		<h2 class="global-search-title">Search</h2>
	</header>
	<form action="#" method="post" class="global-search-form">
		<i class="icon icon-search"></i>
		<input type="search" id="search-input" placeholder="Enter your search&hellip;" class="global-search-input" autocomplete="off" />
		<button type="submit" title="Search" class="btn btn-search">Search</button>
	</form>
</section>