---
component: header-navigation
hide: true
published: false
---

<a href="#menu" class="header-action action-menu">
	<i class="icon icon-menu"></i>
	<i class="icon icon-cancel"></i>
	<b>Menu</b>
</a>
<a href="#search" id="action-search" class="header-action action-search">
	<i class="icon icon-search"></i>
	<i class="icon icon-cancel"></i>
	<b>Search</b>
</a>
