---
component: menu-navigation
hide: true
published: false
---

<section id="menu" class="menu">
	<nav class="header-navigation" id="navigation" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<ul class="menu-primary">
			<li class="<?php echo ($activePage === 1 ? 'active' : '')?>"><a href="#">link 1</a></li>
			<li class="<?php echo ($activePage === 2 ? 'active' : '')?>"><a href="#">link 2 </a></li>
			<li class="<?php echo ($activePage === 3 ? 'active' : '')?>"><a href="#">link 3</a></li>
			<li class="<?php echo ($activePage === 4 ? 'active' : '')?>"><a href="#">link 4</a></li>
			<li class="<?php echo ($activePage === 5 ? 'active' : '')?>"><a href="#">link 5</a></li>
			<li class="<?php echo ($activePage === 6 ? 'active' : '')?>"><a href="#">link 6</a></li>
		</ul>
	</nav>
	<!-- end #navigation -->
</section>