---
title: Home - Cordova App
---
{{#extend "layout-a"}}
	{{#content "region-a"}}
		<div class="js-masonry">
			{{> tile-style-a tiles.tileStyleA}}
			{{> tile-style-a tiles.tileStyleA}}
			{{> tile-style-a tiles.tileStyleA}}
			{{> tile-style-a tiles.tileStyleA}}

			{{> tile-style-a tiles.tileStyleA}}
			{{> tile-style-a tiles.tileStyleA}}
			{{> tile-style-b tiles.tileStyleB}}

			{{> tile-style-c tiles.tileStyleC}}

			{{> tile-style-a tiles.tileStyleA}}
			{{> tile-style-a tiles.tileStyleA}}
			{{> tile-style-d tiles.tileStyleDDining}}
			{{> tile-style-b tiles.tileStyleB}}
		</div>
	{{/content}}
{{/extend}}

